// center the element
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// media query for phone and Tablets

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}
