$color-primary-font: #bdc3c7;
$color-danger-font: rgba(232, 65, 24, 1);
$color-safe-font: rgba(46, 204, 113, 1);

$color-black: #2f3640;
$color-megaman: rgba(72, 219, 251, 0.1);
$color-danger: rgba(232, 65, 24, 0.5);
$color-safe: rgba(46, 204, 113, 0.5);

$box-shadow: 0 0 0.5rem 0.5rem rgba(23, 183, 218, 0.2);
$box-shadow-light: 0 0 1.2rem 0.2rem rgba(23, 183, 218, 0.2);
$box-shadow-danger: 0 0 1rem 0.3rem $color-danger;
$box-shadow-safe: 0 0 1rem 0.2rem $color-safe;

$border-thin: 0.05rem solid rgba(23, 183, 218, 0.2);

$border-radius: 0.3rem;
$border-radius-card: 1rem;
