// All the buttons styles used in website

.btn {
  width: 60%;
  height: 3rem;
  background-color: transparent;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  text-transform: capitalize;
  margin: 1rem 0;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.3rem) scale(1.05);
    -webkit-transform: translateY(-0.3rem) scale(1.05);
    -moz-transform: translateY(-0.3rem) scale(1.05);
    -ms-transform: translateY(-0.3rem) scale(1.05);
    -o-transform: translateY(-0.3rem) scale(1.05);
    animation: none;
    -webkit-animation: none;
    box-shadow: none;
  }

  &--danger {
    color: $color-danger-font;
    font-size: 1.4rem;
    border: 0.1rem solid $color-danger;
    box-shadow: $box-shadow-danger;
    animation: flashDanger 1s linear 1s infinite alternate;
    -webkit-animation: flashDanger 1s linear 1s infinite alternate;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }

  &--safe {
    color: $color-safe-font;
    font-size: 1.4rem;
    border: 0.1rem solid $color-safe;
    box-shadow: $box-shadow-safe;
    animation: flashSafe 1s linear 1s infinite alternate;
    -webkit-animation: flashSafe 1s linear 1s infinite alternate;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }

  &--warning {
    color: $color-warning-font;
    font-size: 1.4rem;
    border: 0.1rem solid $color-warning;
    box-shadow: $box-shadow-warning;
    animation: flashSafe 1s linear 1s infinite alternate;
    -webkit-animation: flashWarning 1s linear 1s infinite alternate;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }
}
