//flashing box shadow
@keyframes flashDanger {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: $box-shadow-danger;
  }
  0% {
    box-shadow: none;
  }
}

@keyframes flashSafe {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: $box-shadow-safe;
  }
  0% {
    box-shadow: none;
  }
}
